@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:host {
  display: block;
  font-family: "Roboto", sans-serif;
}

form {
  .control {
    width: 300px;
    display: flex;
    input {
      flex: 1;
      margin-right: 5px;
    }
  }

  button {
    background-color: #5454ce;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px;
    outline: lightgray;
  }
}

ul {
  list-style: none;
  padding: 0;
  width: 300px;
  li {
    padding: 5px;
    background-color: rgb(144, 146, 27);
    color: white;
    margin-bottom: 5px;
    border-radius: 6px;
    .remove {
      display: flex;
      button {
        padding: 0;
        margin-right: 5px;
        border: none;
        background-color: transparent;
        display: inline-block;
      }

      .item {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &.completed {
          text-decoration: line-through #5454ce 2px;
        }
      }
    }
  }
}
