:host {
  display: block;
}

form {
  .control {
    width: 300px;
    display: flex;
    input {
      flex: 1;
      margin-right: 5px;
    }
  }

  button {
    background-color: #5454ce;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px;
    outline: lightgray;
  }
}
